
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link shref="static/css/bootstrap.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.css"
          integrity="sha512-c0+vSv9tnGS4fzwTIBFPcdCZ0QwP+aTePvZeAJkYpbj67KvQ5+VrJjDh3lil48LILJxhICQf66dQ8t/BJyOo/g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css" integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css” />

    <title>Landing Page</title>
</head>

<body>
    <header id="header" class="header fixed-top">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow p-2 mb-5 bg-white rounded">
          <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/" style="color:#72bd44;">LIFE<span class="fw-bold" style="color:#1b1c42;">CARE</span></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end alignment-center" id="navbar">
              <div class="navbar-nav">
                <a class="nav-item nav-link smooth-scroll" id="home" href="#intro">Home</a>
                <a class="nav-item nav-link smooth-scroll" id="about" href="#pricing">About Us</a>
                <a class="nav-item nav-link smooth-scroll" id="features" href="#topics">Features</a>
                <a class="nav-item nav-link smooth-scroll" id="contact" href="#reviews">Contact</a>
              </div>
            </div>
          </div>
        </nav>
    </header>
    
    <section class="" id="intro">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center" style="height:100%"> 
                <div class="col-md-6 text-center text-md-start">
                    <h1>
                        <div class="display-2">Life Care</div>
                        <div class="display-6 text-muted">Lifetime of Comfort and Support</div>
                    </h1>
                    <p class="lead my-4 text-muted">A holistic approach to healthcare that helps individuals maintain their independence and quality of life.</p>
                    <a href="/login" class="btn btn-success btn-lg shadow">Login</a>&nbsp;
                    <a href="/sign-up" class="btn btn-outline btn-lg text-success">Sign up</a>
                </div>
                <div class="col-md-6 text-center d-none d-md-block">
                    <img src="/static/assets/image2.svg" class="img-fluid">
                </div>
            </div>
        </div>
        
    </section>

    <section class="" id="pricing">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center" style="height:100%">
                <div class="col-md-6 text-center text-md-start">
                    <div class="content">
                        <img src="static/assets/image3.svg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 text-center text-sm-end">
                    <div class="content">
                        <h1 class="display-2">About Us</h1>
                        <p class="lead my-4 text-muted"> Welcome to Web Patient Tracker, where we strive to make healthcare more efficient and accessible for both doctors and patients. Our web-based system allows medical professionals and individuals to easily view and track important patient information, such as medical records and diagnoses, all in one convenient location. With Web Patient Tracker, staying informed and up-to-date on your healthcare has never been easier.</p>
                        <div class="text-center text-lg-start">
                            <a href="#" class="btn btn-success btn-lg float-end">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="topics" class="">
        <div class="container">
            <div class="row g-0 justify-content-center align-items-center" style="height:100%">
                <div class="text-center">
                </br>
                    <h2>Features</h2>
                    <p class="lead text-muted">Best Features</p>
                </div>
                <div class="row text-center">
                    <div class="jumbotron p-4">
                        <div class="icon-box">
                            <br>
                            <div class="icon">
                                <i class="bi bi-check2-circle" style="color: #72bd44; font-size:35px;"></i>
                            </div>
                            <br>
                            <h4>
                                Convenience
                            </h4>
                            <p class="text-muted">Web Patient Tracker allows doctors and patients to access important healthcare information anytime, anywhere, through a secure web portal.</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center bg-light">
                    <div class="jumbotron p-4">
                        <div class="icon-box">
                            <br>
                            <div class="icon">
                                <i class="bi bi-hourglass-bottom" style="color: #72bd44; font-size:35px;"></i>
                            </div>
                            <br>
                            <h4>
                                Time-saving
                            </h4>
                            <p class="text-muted">With Web Patient Tracker, there's no need to spend time searching through paper records or coordinating with multiple healthcare providers.</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="jumbotron p-4">
                        <div class="icon-box">
                            <br>
                            <div class="icon">
                                <i class="bi bi bi-people" style="color: #72bd44; font-size:35px;"></i>
                            </div>
                            <br>
                            <h4>
                                Collaborative
                            </h4>
                            <p class="text-muted">Web Patient Tracker helps facilitate better communication between doctors and patients, allowing for more informed and effective healthcare decisions.</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center bg-light">
                    <div class="jumbotron p-4">
                        <div class="icon-box">
                            <br>
                            <div class="icon">
                                <i class="bi bi-folder-check" style="color: #72bd44; font-size:35px;"></i>
                            </div>
                            <br>
                            <h4>
                                Easy record-keeping
                            </h4>
                            <p class="text-muted">With Web Patient Tracker, doctors and patients can easily keep track of their healthcare records and progress, allowing for better ongoing management of conditions and treatments..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
      </section>
      <br>
      <br><br>
      <br><br>
    </br></br></br></br>
    <footer>
      <section id="reviews" class="">
        <div class="container">
            <div class="text-center">
            </br>
                <h2>Developers</h2>
                <p class="lead text-muted">Web Developers</p>
            </div>
            <div class="row-md" style="height: 50%;">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active bg-success ">
                            <div class="text-center mt-4">
                                <img src="static/assets/dev1.jpg" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                            </div>
                            </br></br></br></br></br></br>
                            <div class="carousel-caption d-none d-md-block text-light">
                                <h5>John Louie Luchavez</h5>
                                <p>Code Designer & Tester</p>
                            </div>
                        </div>
                        <div class="carousel-item bg-success ">
                            <div class="text-center mt-4">
                                <img src="static/assets/dev2.png" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                            </div>
                            </br></br></br></br></br></br>
                            <div class="carousel-caption d-none d-md-block text-light">
                                <h5>James Carl Catedrilla</h5>
                                <p>System Designer & Analyst</p>
                            </div>
                        </div>
                        <div class="carousel-item bg-success ">
                            <div class="text-center mt-4">
                                <img src="static/assets/dev3.jpg" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                            </div>
                            </br></br></br></br></br></br>
                            <div class="carousel-caption d-none d-md-block text-light">
                                <h5>Joenard Amaro</h5>
                                <p>Documentation & Requirements</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    </button>
                </div>
            </div>
        </div>
      </section>
    </footer>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.2.0/jquery.smooth-scroll.min.js" integrity="sha512-0tWfLL+YANip9Uo2YUY4/SxvwDgPUuoSUcIXPFULXiXXgLKmiC/qCeDxnhl+mLobu6e/dSlyhGheCtzd9+RLCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
crossorigin="anonymous"
referrerpolicy="no-referrer">
</script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ=="
crossorigin="anonymous"
referrerpolicy="no-referrer">
</script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
crossorigin="anonymous">
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"></script>
</body>